<nav class="bg-slate-100">
    
        <div class="w-[100%] grid grid-cols-[auto_1fr_auto] h-[130px] items-center px-16">
            <div class="h-[130px]">
                <img class="h-[100%]" src="/logo.jpg" alt="Logo"/>
            </div>
            <div class="hidden h-full md:flex items-center space-x-5 text-2xl text-gray-800 ml-40">
                <div class="h-full flex items-center pointer-events-none hover:border-t-2 border-amber-400">
                    <a class="hover:text-amber-400 pointer-events-auto py-7 px-5" href="oferta.html">Oferta</a>
                </div>
                
                <div class="h-full flex items-center pointer-events-none hover:border-t-2 border-amber-400">
                    <a class="hover:text-amber-400 pointer-events-auto py-7 px-5" href="oferta.html">O mnie</a>
                </div>
                <div class="h-full flex items-center pointer-events-none hover:border-t-2 border-amber-400">
                    <a class="hover:text-amber-400 pointer-events-auto py-7 px-5" href="oferta.html">Kontakt</a>
                </div>
                <a class="hover:text-amber-400 flex items-center py-7 px-5" href="https://www.facebook.com/mkubezpieczeniakluczbork" target="_blank" rel="noopener noreferrer">
                    <ng-icon name="ionLogoFacebook"></ng-icon>
                </a>
            </div>
            <div class="mr-10 w-full flex space-between items-center">
                <button class="hover:text-amber-400 text-2xl mr-18 text-gray-800 px-5 py-2 rounded-lg cursor-pointer">
                    Zaloguj się
                </button>
                <a routerLink="/sign-up"></a>
                    <button class="text-2xl bg-amber-400 hover:bg-amber-600 text-slate-100 px-5 py-2 rounded-lg shadow-lg cursor-pointer" [routerLink]="['/sign-up']">
                        Zarejestruj się
                    </button>
                
            </div>
            <div class="md:hidden flex items-center">
                <button id="mobile-menu-btn">
                </button>   
            </div>
        </div>
    
    <div id="mobile-menu" class="hidden md:hidden text-slate-100">
        <a class="block py-2 px-4 text-2xl hover:text-gray-300" href="">Oferta</a>
        <a class="block py-2 px-4 text-2xl hover:text-gray-300" href="">O nas</a>
        <a class="block py-2 px-4 text-2xl hover:text-gray-300" href="">Kontakt</a>
        <a class="block py-2 px-4 text-2xl hover:text-gray-300" href="https://www.facebook.com/mkubezpieczeniakluczbork" target="_blank" rel="noopener noreferrer">
            <!-- <ion-icon name="logo-facebook"></ion-icon> -->
        </a>
    </div>
</nav>



